/* ICONOS HEADER */
i {
    color: rgb(0, 0, 0);
}

.logo:link {
    text-decoration: none;
}

.icono:hover {
    color: rgb(255, 255, 255);
}

/* NAV */
.navNombre {
    color: white;
    text-shadow: 1px 1px black;
}

.navNombre:hover {
    color: rgba(10, 10, 10, 0.658);
}

/* BOTONES FORMULARIOS */
.formu {
    font-size: 20px;
    color: white;
    width: 80%;
}

.btn.formu:hover, .btn.formu:focus, .btn.formu:active {
  color: white !important;
}


/* FORMULARIO REGISTRO */
.lblReg {
    font-size: 15px;
    font-weight: bold;
}

.inputReg {
    width: 30%;
}


/* IMAGENES PRODUCTOS */
.productos {
    height: 450px;
    width: 90%;
    margin-top: 10px;
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
}

/* FOOTER */
.footerTitulo {
    color: white;
    text-shadow: 1px 1px 8px black;
}

.footerTitulo:hover {
    color: black;
}

.footerLink {
    color: white;
    width: fit-content;
}

.footerLink:link {
    text-decoration: none;
}

.footerLink:hover {
    color: black;
    text-shadow: 1px 1px black;
}

/* ICONOS FOOTER REDES */
.iconoRed {
    color: white;
}

.iconoRed:hover {
    color: black;
}

